@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat:wght@500;600&family=Dongle:wght@700&family=Fraunces:wght@100&family=Inconsolata:wght@400;600&family=Italianno&family=Josefin+Sans:ital,wght@0,400;1,700&family=Lobster&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Oswald&family=Playfair+Display&family=Staatliches&family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Dongle:wght@700&family=Fraunces:wght@100&family=Inconsolata&family=Italianno&family=Josefin+Sans:ital,wght@0,400;1,700&family=Lobster&family=Montserrat:ital,wght@1,100&family=Oswald&family=Playfair+Display&family=Staatliches&family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Dongle:wght@700&family=Fraunces:wght@100&family=Inconsolata&family=Italianno&family=Josefin+Sans:ital,wght@0,400;1,700&family=Lobster&family=Montserrat:ital,wght@1,100;1,300&family=Oswald&family=Playfair+Display&family=Staatliches&family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat:wght@500;600&family=Dongle:wght@700&family=Fraunces:wght@100&family=Inconsolata&family=Italianno&family=Josefin+Sans:ital,wght@0,400;1,700&family=Lobster&family=Montserrat:ital,wght@1,100;1,300&family=Oswald&family=Playfair+Display&family=Staatliches&family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat:wght@500;600&family=Dongle:wght@700&family=Fraunces:wght@100&family=Inconsolata:wght@400;600&family=Italianno&family=Josefin+Sans:ital,wght@0,400;1,700&family=Lobster&family=Montserrat:ital,wght@1,100;1,300&family=Oswald&family=Playfair+Display&family=Staatliches&family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Kanit:ital,wght@1,200&family=Poppins:ital,wght@0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Kanit:ital,wght@1,200&family=Poppins:wght@500&family=Zen+Kaku+Gothic+Antique&display=swap');

html{
  scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.A1 {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.A1:hover{
  color: rgb(53, 137, 194);
}
#titulo1{
  font-size: 3rem;
  text-shadow: 1px 1px 2px #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
  padding-top: 300px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#titulo2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 50px;
  text-align: left;
  align-items: flex-end;
  text-shadow: 1px 1px 2px #fff;
}
#titulo4{
  font-family: monospace;
  padding-bottom: 830px;
  font-size: 2rem;
  text-align: center;
  color: rgb(118, 193, 240);
  text-shadow: 2px 2px 3px rgb(15, 44, 73);
}
#titulo5{
  margin-bottom: 800px;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 30px;
  margin-right: 800px;
  font-weight: bolder;
}
#titulo6{
  font-size: 2rem;
  font-style: italic;
  text-shadow: 1px 1px 3px oldlace;
  background-color: rgb(138, 175, 180);
  text-align: center;
}
.f1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  color: #2196f3;
}
.parrafo4{
  vertical-align: middle;
  width: 300px;
  font-family: initial;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding-top: 70px;
  margin: 0.9px 265px;
  font-size: 24px;
}
.b1{
  border: 0;
  border-radius: 3rem;
  margin-top: 90px;
  margin-left: 650px;
  box-shadow: 0px 1px 1px rgb(89, 92, 91);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.b1:active{
  background-color: lightskyblue;
}
li {
  list-style: none;
  margin: 1rem;
  padding: 0.6rem;
}
li:hover{
  background-color: rgb(168, 213, 241);
  border-radius: 5px;
}
.F{
  width: 30%;
  height: 600px;
  display: flex;
  font-family:'Poppins', sans-serif;
  background-color:rgb(226, 217, 217);
  border-radius: 10px;
  justify-content: center;
  position: absolute;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  transition: height 2s, width 0.5s;
}
input{
  font-size: 18px;
  padding: 5px 5px 5x 2px;
  display: block;
  border: none;
  background: none;
  width: 300px;
  margin-left: 300px;
  font-family:'Poppins', sans-serif;
  border-bottom: outset 1px lightblue;
}
input:focus{
  outline: none;
  color: lightskyblue;
}
.grupo{
  position: relative;
  margin:45px 10px;
  font-family:'Poppins', sans-serif;
  margin-right: 300px;
}
input:focus~label, 
input:valid~label{
  position: absolute;
  top:-14px;
  color: #2196f3;
  margin-left: 0;
  font-size: 13px;
  font-family: initial;
}
label{
  position: absolute;
  color: #444;
  top: 1px;
  transition: 0.5s ease all;
  pointer-events: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input:focus~.barra::before{
  width: 50%;
}
.barra{
  position: relative;
  display: block;
  width: 100%;
}
.barra::before{
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  background: lightblue;
}
.b5{
  border: none;
  font-size: 17px;
  border-radius: 4px;
  width: 100px;
  color: #ddd;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 40px;
  font-weight: bold;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
}

/*los menu de las secciones*/
#menu {
  display: flex;
}
.menu2{
  display: flex;
}
.menu4{
  display: flex;
}
.menu5{
  display: flex;
}
.menu6{
  display: flex;
}
.container { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 800px 300px 450px 450px 150px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "hero hero"
      "text-1 text-1"
      "text-2 imagen"
      "imagen2 text-3"
      "footer footer";
    width: 100%;
    height: 100%;
  }
  /*los containers de las secciones*/
  .container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 800px 600px 150px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "header2 header2"
    "hero2 hero2"
    "imágenes imágenes2"
    "footer2 footer2";
    width: 100%;
    height: 100%;
  }
  .container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 900px 150px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "header4 header4"
    "hero4 hero4"
    "footer4 footer4";
    width: 100%;
    height: 100%;
  }
  .container5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 900px 150px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header5 header5"
    "hero5 hero5"
    "footer5 footer5";
    width: 100%;
    height: 100%;
  }
  .container6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 900px 150px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header6 header6"
    "hero6 hero6"
    "footer6 footer6";
    width: 100%;
    height: 100%;
  }
  nav{
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #333;
  }
/* del home=index*/
  .header { grid-area: header; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-image: url(img/imageenn.jpg);
  background-size: 570px;
}
/* los headers de las secciones*/
  .header2{ grid-area: header2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-image: url(img/imageenn.jpg);
  background-size: 570px;
  }
  .header4{ grid-area: header4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      background-image: url(img/imageenn.jpg);
      background-size: 570px;
  }
  .header5{grid-area: header5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      background-image: url(img/imageenn.jpg);
      background-size: 570px;
  }
  .header6{ grid-area: header6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-content: start;
      align-items: center;
      padding: 0 2rem;
      background-image: url(img/imageenn.jpg);
      background-size: 570px;
  }
  /*los fondos de las secciones*/
  .hero { grid-area: hero; 
  background-image: url("img/imagen24.webp");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}
.hero2{ grid-area: hero2;
  background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.30)),
    url(img/imagen22.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}
.hero4{ grid-area: hero4;
  background-image: url(img/imageen.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero5{ grid-area: hero5;
  background: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.30)), url(img/meeting-1019875_960_720.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero6{ grid-area: hero6;
  background: linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(img/f2.webp);
  background-position: center ;
  background-repeat: no-repeat;
  display: inline-block;
  display: table-cell;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iconn{
  height: 20%;
  width: 50px;
  background-color: rgb(184, 196, 199);
  border: 10px solid #333;
  display: inline-block;
  margin: 0 auto;
}
.caja{
  margin: 20rem 40rem;
  width: 500px;
  border: 1px solid #ddd;
  padding:0;
  background: rgb(187, 221, 238);
  margin-top: auto;
  position: absolute;
  box-shadow: 5px 5px 5px 5px rgba(0, 0 ,0, 0.2);
}
.day{
  margin: 0.5rem ;
  padding: 0.8rem;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  color: #444;
}
.day-name{
  background-color: rgb(108, 179, 202);
  font: 0.8rem sans-serif;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  left: 1rem;
  right: 1rem;
  margin: 0;
}
.first-day{
  grid-column-start: 2;
}
h2{
  text-align: center;
  font-family: sans-serif;
  color: cadetblue;
  margin: 0.8rem 0;
}
.calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 1px;
}
.F2{
  margin: 100px;
  position: absolute;
  padding: 0 10px;
  height: 550px;
  display: grid;
  width: 3vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p4{ 
  margin: 80px;
  border-radius: 2rem ;
  margin-bottom: 750px;
  position: absolute;
  display: grid;
  background-color: paleturquoise;
  border: 3px inset;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.p5{
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: lightblue;
  color: #000;
  font-family: serif;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
}
.p5:hover{
  background-color: lightsteelblue;
}
.cuadradototal{
  margin: 300px;
  position: absolute;
  display: grid;
  padding: 0 60px;
  margin-top: 650px;
  right: 40px;
  top: 70px;
}
.cuadrado1{
  width: 200px;
  height: 30px;
  background: rgb(61, 171, 190);
  text-align: center;
  border: 2px initial rgb(102, 210, 243);
  box-shadow: 4px 2px 2px 2px lightgray;
}
.cuadrado2{
  width: 200px;
  height: 70px;
  background:rgb(255, 255, 255);
  border: 2px initial rgb(102, 210, 243);
  box-shadow: 4px 2px 2px 2px lightgray;
}
.cuadrado3{
  width: 200px;
  height: 25px;
  background:  rgb(176, 224, 243);
  text-align: center;
  border: 2px initial  rgb(102, 210, 243);
  box-shadow: 4px 2px 2px 2px lightgray;
}
.cuadrado4{
  width: 200px;
  height: 25px;
  background:  rgb(174, 232, 255);
  text-align: center;
  border: 2px initial  rgb(102, 210, 243);
  box-shadow: 4px 2px 2px 2px lightgray;
}
.cuadrado5{
  width: 200px;
  height: 25px;
  background:  rgb(145, 208, 233);
  text-align: center;
  border: 2px initial  rgb(102, 210, 243);
  box-shadow: 4px 2px 2px 2px lightgray;
}
.coment{
  background:lightcyan;
  position: absolute;
  width: 125px;
  height: 125px;
  display: grid;
  margin: 150px;
  right: 100px;
  margin-top: 200px;
  padding: 0 20px;
}
.pin{
  margin-bottom: 0.5px;
  margin-left: 20px;
}
.p7{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  border-radius: 500px;
}
.p6{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
.text-1 {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ESPAÑOL INGLES PORTUGÚES FRANCÉS"
    "ITALIANO RUSO CHINO LATÍN"
    "ALEMÁN COREANO HEBREO ÁRABE";
  grid-area: text-1;
  background-color: rgb(216, 223, 226);
}

.INGLES { grid-area: INGLES;
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  line-height: 80px;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.ESPAÑOL { grid-area: ESPAÑOL;
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  line-height: 80px;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.PORTUGÚES { grid-area: PORTUGÚES; 
  border: outset #fff;
  background-color: rgb(149, 198, 228);
  bottom: inherit;
  padding: 0px;
  margin: 0px;
  font-family: 'Caveat', cursive;
  line-height: 80px;
  font-weight: 700px;
  font-size: 25px;
  text-align: center
}

.FRANCÉS { grid-area: FRANCÉS; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.ITALIANO { grid-area: ITALIANO;
  border: outset #fff;
  bottom: initial; 
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}


.RUSO { grid-area: RUSO; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.CHINO { grid-area: CHINO; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.LATÍN { grid-area: LATÍN; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px ; 
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.ALEMÁN { grid-area: ALEMÁN; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.COREANO { grid-area: COREANO;
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.HEBREO { grid-area: HEBREO;
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

.ÁRABE { grid-area: ÁRABE; 
  border: outset #fff;
  bottom: initial;
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  background-color: rgb(149, 198, 228);
  font-family: 'Caveat', cursive;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}
.text-1:hover{
  color: rgb(77, 168, 238);
}

.text-2 { grid-area: text-2; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: right;
}
.parrafo2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

.imagen { grid-area: imagen; 
background-image: url(img/foto.webp);
background-repeat: no-repeat;
justify-content: center;
flex-direction: column;
background-position: center;
align-items: center;
height: 400px;
}
.imagen2 { grid-area: imagen2;
background-image: url(img/foto5.webp);
background-repeat: no-repeat;
justify-content: center;
flex-direction: column;
background-position: center;
align-items: center;
height: 500px;
background-position: top;
}

.text-3 { grid-area: text-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}
.subir {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: lightsteelblue;
  border: 3px solid black;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;}

  .subir i{
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
  }
  .clickk{
    margin: 0;
    margin-left: 990px;
  }
  
  /*el logo de cada seccion */
  .logo{
    font-size: 50px;
    font-weight: bold;
    padding:5px ;
    font-family: 'Italianno', cursive;
    color: rgb(130, 140, 151);
    text-decoration: none;
  }
  .logo1{
    width:50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .logo2{
    font-size: 50px;
    font-weight: bold;
    padding:5px ;
    font-family: 'Italianno', cursive;
    color: rgb(130, 140, 151);
    text-decoration: none;
  }
  .logo3{
    width:50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .logo4{
    font-size: 50px;
    font-weight: bold;
    padding:5px ;
    font-family: 'Italianno', cursive;
    color: rgb(130, 140, 151);
    text-decoration: none;
  }
  .logoi{
    width:50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .logo5{
    font-size: 50px;
    font-weight: bold;
    padding:5px ;
    font-family: 'Italianno', cursive;
    color: rgb(130, 140, 151);
    text-decoration: none;
  }
  .logoii{
    width:50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .logo6{
    font-size: 50px;
    font-weight: bold;
    padding:5px ;
    font-family: 'Italianno', cursive;
    color: rgb(130, 140, 151);
    text-decoration: none;
  }
  .logoiii{
    width:50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
  ul{
    display: flex;
  }
  .footer:hover{
    color: linen;
  }
  h1{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .imágenes{ grid-area: imágenes;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: top;
    flex-direction: column;
    align-items: center;
    border: 1px unset #fff;
    background-color: lightsteelblue;
  }
  .imágenes2{ grid-area: imágenes2;
    text-align: center;
    margin-top: 50px;
  }
  .somos{
    width: 90px;
    position: absolute;
    margin-top: 150px;
    right: 240px;
  }
  .p0{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 300px;
    font-size: 2rem;
    font-style: italic;
  }
  .iddea{
    width: 300px;
    position: absolute;
    right: 880px;
    margin-top: 60px;
  }
  .comentarios{
    width: 200px;
  }
  .comentarios .comentario{
    width: 100%;
    margin-bottom: 20px;
  }
  .comentarios .comentario p{
    margin: 0 0 10px 0;
  }
  .burbuja{
    background-color: rgb(241, 246, 248);
    margin-left: 1030px;
    padding: 20px;
    position: relative;
    color: #222;
    border-radius: 20px;
    bottom: 250px;
  }
  .burbuja::after{
    content: "";
    display: block;
    position: absolute;

    top: 15px;
    margin-left: -35px;

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    border-right: 15px solid rgb(241, 246, 248);
  }
  .p10{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(16, 85, 155);
    justify-content: center;
  }
  /*de inicio=home*/
  .footer { grid-area: footer;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 215, 240);
  }
  .c4{
    width: 100px;
  }
  /*de nosotros*/
  .footer2{ grid-area: footer2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 215, 240);
  }
  /*de cursos*/
  .footer4{ grid-area: footer4;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 215, 240);
  }
  /* de contacto*/
  .footer5{ grid-area: footer5;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 215, 240);
  }
  /*de beneficios*/
  .footer6{ grid-area: footer6;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 215, 240);
  }
  .cajas{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
  .bloque{
    height: 280px;
    width: 230px;
    border-radius: 20px;
    display: inline-block;
    margin:80px 80px;
    background-color:  rgb(184, 196, 199);
    animation-name: deslizar;
    animation-duration: 5s;
  }
  .p1{
    margin-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: 2px outset whitesmoke;
  }
  .p9{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 950px;
  }
  .i7{
    margin-top: 30px;
  }
  .icono{
    margin-top:70px;
    height: 80px;
  }
  .bloque2{
    background-color: rgb(184, 196, 199);
    height: 280px;
    width: 230px;
    display: inline-block;
    border-radius: 20px;
    margin: 80px 80px;
    animation-name: deslizar;
    animation-duration: 5s;
  }
  .bloque3{
    background-color: rgb(184, 196, 199);
    height: 280px;
    width: 230px;
    border-radius: 20px;
    display: inline-block;
    margin: 80px 80px;
    animation-name: deslizar;
    animation-duration: 5s;

  }
  .bloque4{
    background-color: rgb(184, 196, 199);
    height: 280px;
    width: 230px;
    border-radius:20px;
    display: inline-block;
    margin: 80px 80px;
    animation-name: deslizar;
    animation-duration: 5s;
  }
  .bloque5{
    background-color: rgb(184, 196, 199);
    height: 280px;
    width: 230px;
    border-radius:20px;
    display: inline-block;
    margin: 80px 80px;
    animation-name: deslizar;
    animation-duration: 5s;
  }
  .bloque6{
    background-color: rgb(184, 196, 199);
    height: 280px;
    width: 230px;
    border-radius:20px;
    display: inline-block;
    margin: 80px 80px;
    animation-name: deslizar;
    animation-duration: 5s;
  }
  .efect{
    box-shadow: 3px rgba(0, 0 ,0, 0.2);
    transition: .1s;
  }
  .efect:hover{
    filter: blur(1px);
    transform: translateY(-6px);
    color: rgb(15, 44, 73);
    filter: none;
    transition: 1s ease;
  }
  @keyframes aparecer{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes deslizar{
    0%{
      opacity: 0;
    }
    1%{
      transform: translateY(150px);
    }
    10%{
      opacity: 1;
      transform: translateY(150px);
    }
  }
  @media only screen and (max-width:1100px){
    .F{
      width: 50%;
    }
  }
  @media only screen and (min-width:450px) and (max-width:500px){
    .F, .p9{
      width:80%;
    }
  }

  @media only screen and (max-width:300px){
    .F, .p9{
      width:90%
    }
  }
  @media only screen and (max-width:650px){
    .header5{
      width:90%
    }
  }
  @media only screen and (max-width:768px){
    #titulo5{
      margin-right: 450px;
    }
    .p9{
      margin-left: 600px;
    }
  }
  @media only screen and (max-width:480px){
    #titulo5{
      margin-right: 200px;
      }
      .p9{
        margin-left:200px;
      }
    }
  @media only screen and (max-width:768px){
    .clickk{
      margin-left: 650px;
    }
    .b1{
      margin-left: 350px;
    }
    li{
      margin: 0.4rem;
    }
  }
  @media only screen and (max-width:480px){
    .clickk{
      margin-left: 350px;
      color: darkblue;
    }
    .b1{
      margin-left: 200px;
    }
    li{
      margin: 0;
      display: grid;
    }
  }

